---
layout: base.html
title: Behlen Brothers | Prather Paint
description: This is the meta description
---
<h1 class="page-header">Behlen Brothers</h1>
<ol class="breadcrumb">
	<li><a href="{{ '/' | url }}">Home</a></li>
	<li>Wood Finishes</li>
	<li class="active">Behlen Brothers</li>
</ol>
<div class="row">
	<div class="col-md-6 col-sm-4">
		<h2>Lacquers &amp; Finishes</h2>
		<p>Behlen Brothers produces the finest finishes, refinishers, epoxys, and other specialty products in North America. From spray lacquers to metallic pens, Behlen Brothers will help you complete your project and make it beautiful. Select the sections on the right to learn more.</p>
		<p class="text-center"><img src="{{ '/images/behlen-brothers/jet-spray.jpg' | image }}" alt="Behlen Brothers Jet Sprat" title="Jet Spray" /></p>
	</div>
	<div class="col-md-6 col-sm-8">
		<div class="row behlen-brothers-list">
			<div class="col-sm-6">
				<h3>Dye Stains</h3>
				<a href="#" data-target="#dye-stains" class="btn btn-default" data-toggle="modal">Learn more</a>
			</div>
			<div class="col-sm-6">
				<h3>Pigment Stains</h3>
				<a href="#" data-target="#pigment-stains" class="btn btn-default" data-toggle="modal">Learn more</a>
			</div>
			<div class="col-sm-6">
				<h3>Specialty Finishes</h3>
				<a href="#" data-target="#specialty-finishes" class="btn btn-default" data-toggle="modal">Learn more</a>
			</div>
			<div class="col-sm-6">
				<h3>Rubbing Mediums</h3>
				<a href="#" data-target="#rubbing-mediums" class="btn btn-default" data-toggle="modal">Learn more</a>
			</div>
			<div class="col-sm-6">
				<h3>Polishes</h3>
				<a href="#" data-target="#polishes" class="btn btn-default" data-toggle="modal">Learn more</a>
			</div>
			<div class="col-sm-6">
				<h3>Epoxy Products</h3>
				<a href="#" data-target="#epoxy" class="btn btn-default" data-toggle="modal">Learn more</a>
			</div>
			<div class="col-sm-6">
				<h3>Specialty Items</h3>
				<a href="#" data-target="#specialty-items" class="btn btn-default" data-toggle="modal">Learn more</a>
			</div>
			<div class="col-sm-6">
				<h3>Brushes</h3>
				<a href="#" data-target="#brushes" class="btn btn-default" data-toggle="modal">Learn more</a>
			</div>
			<div class="col-sm-6">
				<h3>Aerosols</h3>
				<a href="#" data-target="#aerosols" class="btn btn-default" data-toggle="modal">Learn more</a>
			</div>
			<div class="col-sm-6">
				<h3>Burn-in Items</h3>
				<a href="#" data-target="#burn-in" class="btn btn-default" data-toggle="modal">Learn more</a>
			</div>
			<div class="col-sm-6">
				<h3>Touch-up Items</h3>
				<a href="#" data-target="#touch-up" class="btn btn-default" data-toggle="modal">Learn more</a>
			</div>
			<div class="col-sm-6">
				<h3>Jet Spray</h3>
				<a href="#" data-target="#jet-spray" class="btn btn-default" data-toggle="modal">Learn more</a>
			</div>
		</div>
	</div>
	<div id="dye-stains" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				{% include "behlen-brothers/dye-stains.html" %}
			</div>
		</div>
	</div>
	<div id="pigment-stains" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				{% include "behlen-brothers/pigment-stains.html" %}
			</div>
		</div>
	</div>
	<div id="specialty-finishes" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				{% include "behlen-brothers/specialty-finishes.html" %}
			</div>
		</div>
	</div>
	<div id="rubbing-mediums" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				{% include "behlen-brothers/rubbing-mediums.html" %}
			</div>
		</div>
	</div>
	<div id="polishes" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				{% include "behlen-brothers/polishes.html" %}
			</div>
		</div>
	</div>
	<div id="epoxy" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				{% include "behlen-brothers/epoxy.html" %}
			</div>
		</div>
	</div>
	<div id="specialty-items" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				{% include "behlen-brothers/specialty-items.html" %}
			</div>
		</div>
	</div>
	<div id="brushes" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				{% include "behlen-brothers/brushes.html" %}
			</div>
		</div>
	</div>
	<div id="aerosols" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				{% include "behlen-brothers/aerosols.html" %}
			</div>
		</div>
	</div>
	<div id="burn-in" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				{% include "behlen-brothers/burn-in.html" %}
			</div>
		</div>
	</div>
	<div id="touch-up" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				{% include "behlen-brothers/touch-up.html" %}
			</div>
		</div>
	</div>
	<div id="jet-spray" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				{% include "behlen-brothers/jet-spray.html" %}
			</div>
		</div>
	</div>
</div>

