<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	<h4 class="modal-title">Behlen Brothers Aerosols</h4>
</div>
<div class="modal-body">
	<h3>Pre-Cat Lacuqer</h3>
	<p>Pre-Cat Lacquer features excellent flow out for touch-up use. The dry film is very durable and adheres where other finishes will not. The product has been tested and approved for furniture factory touch-up on catalyzed finishes. The sealer has excellent hold out properties. 13 fl. oz</p>
	<ul>
		<li>B103-020 Gloss</li>
		<li>B103-021 Satin</li>
		<li>B103-023 Sealer</li>
	</ul>
	<h3>Master Toner</h3>
	<p>Behlen Master Toner is a unique combination of nitrocellulose lacquer and fade  resistant dyes. Master Toner will shade the wood without the fear of loss of clarity. Use  Master Toner prior to applying a topcoat to allow for uniform wood stain clarity. 13 fl.  oz.</p>
	<ul>
		<li>B103-549 Brown</li>
		<li>B103-516 Cherry Natural</li>
		<li>B103-529 Mahogany</li>
		<li>B103-513 Natural</li>
		<li>B103-505 Oak</li>
		<li>B103-510 Pine Tavern </li>
		<li>B103-518 Walnut</li>
		<li>B103-528 Walnut Dark Red</li>
	</ul>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>

