<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	<h4 class="modal-title">Behlen Brothers Brushes</h4>
</div>
<div class="modal-body">
	<h3>Sable Graining Brush</h3>
	<p>Great for adding fine grain lines to spot repairs with our Furniture Powders.</p>
	<ul>
		<li>B901-1274 #4 7/8" Bristle Length</li>
		<li>B901-1276 #6 1" Bristle Length</li>
	</ul>
	<h3>Sable Touch-Up Brush</h3> Great for blending spot touch-up backgrounds with our Furniture Powders.
	<ul>
		<li>B901-3492 #2 1/2&quot; Bristle Length</li>
		<li>B901-3494 #4 11/16&quot; Bristle Length</li>
		<li>B901-3496 #6 7/8&quot; Bristle Length</li>
	</ul>
	<h3>Oxhair Signwriter Brush</h3> General purpose brush; uses include recoloring worn edges and blending spot repairs, especially large repairs.
	<ul>
		<li>B901-7502 1/4" Bristle Width</li>
	</ul>
	<h3>Badger 4004 (Glaze Brush)</h3>
	<p>The 4004 Series is the ultimate glazing brush. It is a hand-assembled badger with natural hair, which is cup chiseled, and flag bristled. The bristles are secured in a double epoxy setting (for less chance of hair loss) and are attached to the natural finished thin wooden handle (for better balance when flowing on finish) by a durable brass ferrule.</p>
	<ul>
		<li>B901-40041 1&quot; Bristle Width</li>
		<li>B901-40043 2&quot; Bristle Width</li>
		<li>B901-40045 3&quot; Bristle Width</li>
	</ul>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>

