<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	<h4 class="modal-title">Behlen Brothers Burn-In Items</h4>
</div>
<div class="modal-body">
	<h3>Burn-In Sticks</h3>
	<p>Manufactured from the finest colorants and resins. Distinctly superior in every respect. Will not lift out and accepts any type of finish. May be leveled using traditional hot knife methods or by using Wool Lube&trade;, sandpaper and a rubbing block. May be used on virtually any type of surface including marble. When used on marble, the surface should be preheated to assist adhesion.</p>
	<ul>
		<li>B320-001 Mahogany</li>
		<li>B320-003 Light Brown Walnut</li>
		<li>B320-004 Extra Dark Walnut</li>
		<li>B320-005 Fruitwood</li>
		<li>B320-006 Cherry</li>
		<li>B320-007 White</li>
		<li>B320-008 Black</li>
		<li>B320-009 Maple</li>
		<li>B320-010 Dark Amber</li>
		<li>B320-011 Amber</li>
		<li>B320-012 Clear</li>
		<li>B320-013 Dark/American Walnut</li>
		<li>B320-015 Medium Mahogany</li>
		<li>B320-018 Dark Cherry</li>
		<li>B320-815 Golden Oak</li>
		<li>B320-818 Burnt Umber</li>
		<li>B320-853 Medium Brown Walnut</li>
		<li>B320-873 Red Mahogany</li>
		<li>B320-301 - Assortment Amber, Dark Amber, Black, Clear, Burnt Umber,
		White</li>
		<li>B320-302 - Assortment Fruitwood, Maple, Light Brown Walnut,Extra Dark Walnut, Medium Brown Walnut, Dark/American Walnut</li>
		<li>B320-303 - Assortment Cherry, Dark Cherry, Dark Mahogany,Medium Mahogany, Red Mahogany,Golden Oak</li>
	</ul>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>

