<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	<h4 class="modal-title">Behlen Brothers Dye Stains</h4>
</div>
<div class="modal-body">
	<h3>Dry Powdered Aniline Stain</h3>
	<p>Dissolving these dyes in water will achieve deep penetration resulting in the best light fastness of any of the anilines. The beauty of the wood grain will show clearly without the &quot;muddy&quot; look sometimes left due to the overuse of pigments. Add warm water to powder to get the desired color. Colors may need 25% Wood Alcohol to achieve color. When dissolved in wood alcohol, these dyes are often used as touch-up and repair stains as well as primary wood stains. Alcohol enables rapid drying and will not significantly raise the grain of the wood. When used as a tinting medium, this stain should be dissolved in Behkol Solvent. Some colors may need 25% water to achieve color. 2 oz.</p>
	<p><strong>Available in:</strong></p>
	<ul>
		<li>B366-0012 Jet Black</li>
		<li>B366-0022 Sea Blue</li>
		<li>B366-0032 Cherry</li>
		<li>B366-0042 Red</li>
		<li>B366-0072 Dark Mahogany</li>
		<li>B366-0092 Golden Oak</li>
		<li>B366-0192 Lemon Yellow</li>
		<li>B366-0222 American Walnut</li>
	</ul>
	<h3>Penetrating Oil Stain</h3>
	<p>Penetrating Oil Stain creates a rich clean  translucent wood shade which may be topcoated with most any type of finish. Gallon</p>
	<ul>
		<li>B502-0617 Mahogany, Brown</li>
		<li>B502-0687 Mahogany, Dark Red</li>
		<li>B502-0607 Walnut, Dark</li>
	</ul>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>

