<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	<h4 class="modal-title">Behlen Brothers Epoxy</h4>
</div>
<div class="modal-body">
	<h3>5 Minute Epoxy Glue</h3>
	<p>This glue is equally valuable on service calls and in the shop. It retains all of the physical strengths of epoxy adhesives while offering the added advantage of quick setting even in thin films at low temperatures. It will bond wood, and nearly all other types of materials including concrete. It achieves its terrific strength as a result of a chemical reaction when mixed with the Hardening agent. Non shrinking.</p>
	<ul>
		<li>B745-2008 8 oz.</li>
	</ul>
	<h3>Scratch Off Furniture Polish</h3>
	<p>Large defects can be filled without the need for special tools. The 2-part Epoxy Putty consists of resin and hardener. Dries in 5 minutes, does not shrink. May be sanded, planed, carved or drilled. Epoxy Putty resin may be tinted with Furniture Powders prior to mixing with hardener to create a colored fill.</p>
	<ul>
		<li>B743-2005 Natural 13 oz.</li>
	</ul>
	<h3>Epoxy Putty Stick</h3>
	<p>Contains resin and hardener in an easy to mix tube form. Break off a piece of the Epozy Putty Stick; knead it and apply to the surface. Much of the shaping of the repair can be accomplished during the working time (10 minutes working time.) After 20 minutes the repair is cured and ready to be sanded, drilled, stained, and finished.</p>
	<ul>
		<li>B743-1500</li>
	</ul>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>

