<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	<h4 class="modal-title">Behlen Brothers Jet Spray</h4>
</div>
<div class="modal-body">
	<p>Jet Spray&trade; Toners are formulated to blend spot repairs to the surrounding surface. These toners are produced from pigments dissolved into nitrocellulose lacquer. They are essential for repairs on pieces that were toned with a pigmented toner by the manufacturer. They are very resistant to color fade from UV exposure. They may also be used as the toning agent when finishing small projects.</p>
	<a href="http://www.uspaintsupply.com/paint/behlen-jet-spray-lacquer-toners/" title="Buy Toner" class="btn btn-primary">Buy Lacquer Toner</a>
	<a href="http://www.uspaintsupply.com/paint/behlen-jet-spray-clear-lacquer/" title="Buy Clear" class="btn btn-primary">Buy Clear Lacquer</a>
	<h4>Colors &amp; Variants</h4>
	<ul>
		<li>B101-0809 Dark/American Walnut</li>
		<li>B101-0813 Natural</li>
		<li>B101-0815 Golden Oak</li>
		<li>B101-0817 Raw Umber</li>
		<li>B101-0818 Burnt Umber</li>
		<li>B101-0822 Medium Oak</li>
		<li>B101-0829 Medium Mahogany</li>
		<li>B101-0831 Dark Mahogany</li>
		<li>B101-0832 Brown Mahogany</li>
		<li>B101-0850 Extra Dark Walnut</li>
		<li>B101-0853 Medium Brown Walnut</li>
		<li>B101-0858 Cherry</li>
		<li>B101-0873 Red Mahogany</li>
		<li>B101-0878 Van Dyke Brown</li>
		<li>B101-0892 Maple</li>
		<li>B101-F826 Flat Black</li>
		<li>B101-G804 Gloss White</li>
		<li>B101-G826 Gloss Black</li>
		<li>B101-L854 Fruitwood</li>
		<li>B101-S826 Satin Black</li>
	</ul>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>

