<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	<h4 class="modal-title">Behlen Brothers Pigment Stains</h4>
</div>
<div class="modal-body">
	<h3>Bleachtone Stain White</h3>
	<p>Bleachtone Stain White is a time saving stain used when you wish to create a  "double bleached" appearance. Available in B515-8047 - Gallon.</p>
	<h3>Bleachtone Stain Reducer</h3>
	<ul>
		<li>B515-0017 - Gallon</li>
	</ul>
	<h3>Japan Colors</h3>
	<ul>
		<li>B560-0141 Black Drop</li>
		<li>B560-0144 Black Ref. Lamp</li>
		<li>B560-1418 Blue Permanent</li>
		<li>B560-1420 Blue Ultramarine</li>
		<li>B560-1435 Brown Van Dyke</li>
		<li>B560-1440 Green Chrome Lt. </li>
		<li>B560-1441 Green Chrome Med.</li>
		<li>B560-1454 Red Bulletin</li>
		<li>B560-1482 Red Venetian</li>
	</ul>
	<h3>Master Color</h3>
	<p>Master Color allows you to change the shade without altering the clarity,  or drying characteristics of your stain or finish. <strong>Not to be</strong> <strong>used </strong>with  water, alcohol, or mineral spirit based products. Quart</p>
	<ul>
		<li>B500-006 Sienna Burnt</li>
		<li>B500-007 Sienna Raw</li>
		<li>B500-003 Brown Van Dyke</li>
		<li>B500-008 Umber Burnt</li>
		<li>B500-009 Umber Raw</li>
	</ul>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>

