<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	<h4 class="modal-title">Behlen Brothers Polishes</h4>
</div>
<div class="modal-body">
	<h3>Oz&reg; Cream Polish</h3>
	<p>Oz&reg; Cream Polish boasts a concentrated formula that cleans, polishes and protects. Just apply, wipe, and buff up to a beautiful sheen. Oz&reg; Cream Polish is excellent for all types of smooth surfaces: wood, marble, tile, leather, and painted or chrome metal. Oz&reg; Cream Polish is non-flammable, non-abrasive, greaseless, quick drying, and contains no silicones. Oz&reg; is now also available in a spill proof, environmentally safe pump bottle. When all of the great features of Oz&reg; Polish are combined with a refillable pump bottle, one truly has the &quot;ALL-IN-ONE&quot; furniture cream polish.</p>
	<ul>
		<li>B800-12415 Pint</li>
		<li> B800-12416 Quart</li>
		<li>B800-12417 Gallon</li>
		<li>B800-1241P 12 oz. Pump</li>
	</ul>
	<h3>Scratch Off Furniture Polish</h3>
	<p>Scratch-Off Furniture Polish contains special oils and colorants to help hide minor scratches in dark shades of furniture. Wipe it on - wipe it off and the furniture looks new.</p>
	<ul>
		<li>B800-1255 Pint</li>
		<li>B103-267 Aerosol</li>
	</ul>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>

