<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	<h4 class="modal-title">Behlen Brothers Rubbing Mediums</h4>
</div>
<div class="modal-body">
	<h3>Parafin Oil</h3>
	<p>A mineral oil used as a lubricant for rubbing with pumice or rottenstone. Saves both time and effort in the rubbing. Formulated with fine cutting oils.</p>
	<ul>
		<li>B740-28645 Pint</li>
		<li>B740-28646 Quart</li>
	</ul>
	<h3>Buffer's Polish</h3>
	<p>An extremely fine buffing agent, which can be applied by hand or with a mechanical buffer on most any cured finish. Buffer's Polish is offered in the original (#5) grade, which can be used to restore or create a professional hand rubbed, high gloss sheen by removing minor imperfections in the finish. Achieves a high gloss &quot;wet&quot; shine.      </p>
	<ul>
		<li>B730-2005 Pint</li>
	</ul>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>

