<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	<h4 class="modal-title">Behlen Brothers Specialty Finishes</h4>
</div>
<div class="modal-body">
	<h3>French Lac</h3>
	<p>French Lac is a light amber French padding finish, suitable for use on the lightest of finishes. French Lac is offered in a ready to use formula (needs no additional oils or reducers) that has been job tested for years by professional repair persons, to develop a complete surface or spot repair finish.</p>
	<ul>
		<li>B611-0065 Pint</li>
		<li>B611-0066 Quart</li>
	</ul>
	<h3>Qualasol</h3>
	<p>Qualasole&trade; is an invaluable product in the cabinet finishing department. No oil is required when french polishing, padding, touching up, or renovating. Qualasole&trade; is applied with a pad in the same manner as french polishing either to raw wood or over any cured shellac, varnish, lacquer, paint or enamel finish. A superior and more durable effect is obtained in one tenth the time as compared to the old method. Qualasole &trade; affects speedy, permanent, new finishes or renovations which do not show press marks after handling or transportation. It produces a beautiful appearance that improves with age. Qualasole&trade; accentuates the grain and natural markings in wood.</p>
	<ul>
		<li>B611-00015 Pint</li>
		<li>B611-00016 Quart</li>
		<li>B611-00017 Gallon</li>
	</ul>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>

