<div class="col-md-3 col-sm-8 hidden-xs">
	<h4>Guns</h4>
	<ul class="nav nav-pills nav-stacked">
		<li><a href="/accuspray/10-gun/">10 Gun</a></li>
		<li><a href="/accuspray/10g-gun/">10G Gun</a></li>
		<li><a href="/accuspray/12s-gun/">12S Gun</a></li>
		<li><a href="/accuspray/19-gun/">19 Gun</a></li>
		<li><a href="/accuspray/19c-gun/">19C Gun</a></li>
		<li><a href="/accuspray/isaac-07-gun/">Isaac 07 Gun</a></li>
		<li><a href="/accuspray/isaac-07hs-gun/">Isaac 07HS Gun</a></li>
	</ul>
	<br />
	<h4>Turbines</h4>
	<ul class="nav nav-pills nav-stacked">
		<li><a href="/accuspray/23-series-turbine/">23 Series Turbine</a></li>
		<li><a href="/accuspray/230-series-turbine/">230 Series Turbine</a></li>
		<li><a href="/accuspray/240-series-turbine/">240 Series Turbine</a></li>
		<li><a href="/accuspray/240c-series-turbine/">240C Series Turbine</a></li>
	</ul>
	<br />
</div>

