<div class="col-md-3 col-sm-8 hidden-xs">
	<h4>Guns</h4>
	<ul class="nav nav-pills nav-stacked">
		<li><a href="{{ '/accuspray/10-gun/' | url }}">10 Gun</a></li>
		<li><a href="{{ '/accuspray/10g-gun/' | url }}">10G Gun</a></li>
		<li><a href="{{ '/accuspray/12s-gun/' | url }}">12S Gun</a></li>
		<li><a href="{{ '/accuspray/19-gun/' | url }}">19 Gun</a></li>
		<li><a href="{{ '/accuspray/19c-gun/' | url }}">19C Gun</a></li>
		<li><a href="{{ '/accuspray/isaac-07-gun/' | url }}">Isaac 07 Gun</a></li>
		<li><a href="{{ '/accuspray/isaac-07hs-gun/' | url }}">Isaac 07HS Gun</a></li>
	</ul>
	<br />
	<h4>Turbines</h4>
	<ul class="nav nav-pills nav-stacked">
		<li><a href="{{ '/accuspray/23-series-turbine/' | url }}">23 Series Turbine</a></li>
		<li><a href="{{ '/accuspray/230-series-turbine/' | url }}">230 Series Turbine</a></li>
		<li><a href="{{ '/accuspray/240-series-turbine/' | url }}">240 Series Turbine</a></li>
		<li><a href="{{ '/accuspray/240c-series-turbine/' | url }}">240C Series Turbine</a></li>
	</ul>
	<br />
</div>

