<!DOCTYPE html>
<html>
<head>
	<title>{{ title }}</title>
	<meta name="description" content="{{ description }}" />
	<meta content="width=device-width, initial-scale=1.0" name="viewport" />
	<link rel="preconnect" href="https://fonts.googleapis.com" crossorigin>
	<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic|Roboto:400,500,700,300' rel='stylesheet' type='text/css'>
	<link rel="preload" href="{{ '/css/bootstrap.min.css' | url }}" as="style">
	<link href="{{ '/css/bootstrap.min.css' | url }}" type="text/css" rel="stylesheet" />
	<link rel="preload" href="{{ '/css/styles.min.css' | url }}" as="style">
	<link href="{{ '/css/styles.min.css' | url }}" type="text/css" rel="stylesheet" />
	<script src="{{ '/js/jquery.min.js' | url }}"></script>
	<script src="{{ '/js/bootstrap.min.js' | url }}" defer></script>
</head>
<body>
	{% include "header.html" %}
	<div class="container">
		{{ content }}
		<br />
	</div>
	{% include "footer.html" %}

