<!DOCTYPE html>
<html>
<head>
	<title>{{ title }}</title>
	<meta name="description" content="{{ description }}" />
	<meta content="width=device-width, initial-scale=1.0" name="viewport" />
	<link rel="preconnect" href="https://fonts.googleapis.com" crossorigin>
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic|Roboto:400,500,300&display=swap' rel='stylesheet' type='text/css'>
	<link rel="preload" href="{{ '/css/bootstrap.min.css' | url }}" as="style">
	<link href="{{ '/css/bootstrap.min.css' | url }}" type="text/css" rel="stylesheet" />
	<link rel="preload" href="{{ '/css/styles.min.css' | url }}" as="style">
	<link href="{{ '/css/styles.min.css' | url }}" type="text/css" rel="stylesheet" />
	<script src="{{ '/js/jquery.min.js' | url }}" defer></script>
	<script src="{{ '/js/bootstrap.min.js' | url }}" defer></script>
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/site.webmanifest">
</head>
<body>
	{% include "header.html" %}
	<div class="container">
		{{ content }}
		<br />
	</div>
	{% include "footer.html" %}

