<br />
</div><!-- /.container -->

<footer id="footer" role="footer">
	<div class="container container-no-bg">
		<div class="row">
			<div class="col-sm-4">
				<h4>External Resources</h4>
				<ul class="list-unstyled">
					<li><a href="http://www.uspaintsupply.com">Buy Online</a></li>
				</ul>
			</div>
			<div class="col-sm-4">
				<h4>Contact</h4>
				<ul class="list-unstyled">
					<li><a href="{{ '/contact/' | url }}">Contact Us</a></li>
					<li><strong>Address</strong>: <a href="https://goo.gl/maps/6vpJn" target="_blank">101 Greenbay Road, Wilmette, IL 60091</a></li>
				</ul>
			</div>
			<div class="col-sm-4">
				<h4>Additional</h4>
				<p>Prather Paint &amp; Wallpaper &copy; 2015</p>
				<p><a href="{{ '/sitemap.xml' | url }}">Sitemap</a></p>
				<p><a href="{{ '/old-stuff/' | url }}">We've had a website since 1998</a></p>
			</div>
		</div>
	</div>
</footer>

</body>
</html>

