<br />
</div><!-- /.container -->

<footer id="footer" role="footer">
	<div class="container container-no-bg">
		<div class="row">
			<div class="col-sm-4">
				<h4>External Resources</h4>
				<ul class="list-unstyled">
					<li><a href="http://www.uspaintsupply.com">Buy Online</a></li>
				</ul>
				<h4>Social Media</h4>
				<ul class="list-inline social-icons">
					<li><a href="https://www.facebook.com/PratherPaint" target="_blank"><i class="fa fa-facebook-square"></i></a></li>
					<li><a href="https://foursquare.com/v/prather-paint--window-fashions/4f57da12108195247231ed30" target="_blank"><i class="fa fa-foursquare"></i></a></li>
					<li><a href="https://plus.google.com/101657735112025016771/about?hl=en" target="_blank"><i class="fa fa-google-plus"></i></a></li>
				</ul>
			</div>
			<div class="col-sm-4">
				<h4>Contact</h4>
				<ul class="list-unstyled">
					<li><a href="/contact/">Contact Us</a></li>
					<li><strong>Address</strong>: <a href="https://goo.gl/maps/6vpJn" target="_blank">101 Greenbay Road, Wilmette, IL 60091</a></li>
				</ul>
			</div>
			<div class="col-sm-4">
				<h4>Additional</h4>
				<p>Prather Paint &amp; Wallpaper &copy; 2015</p>
				<p><a href="/sitemap.xml">Sitemap</a></p>
				<p><a href="/old-stuff/">We've had a website since 1998</a></p>
			</div>
		</div>
	</div>
</footer>

</body>
</html>

