<header id="header" role="header">
	<div class="container container-no-bg">
		<div class="row">	
			<div class="col-sm-6">
				<h1 id="logo"><a href="/">Prather Paint</a></h1>
			</div>
			<div class="col-sm-6 text-right">
				<ul class="list-unstyled contact hidden-xs">
					<li>101 Greenbay Road<br />Wilmette, IL 60091</li>
					<li>Mon-Sat <s>8am-5pm</s>CLOSED</li>
				</ul>
				<ul class="list-unstyled contact visible-xs">
					<li><a href="https://goo.gl/maps/6vpJn">101 Greenbay Road<br />Wilmette, IL 60091</a></li>
					<li>Mon-Sat <s>8am-5pm</s>CLOSED</li>
				</ul>
			</div>
		</div>
		<div class="row">
			{% include "nav.html" %}
		</div>
		<div class="row">
			<p class="alert alert-info">A big <strong>thank you</strong> from the entire Ekstrand Family for your patronage over the past 42 years. As of June 21st, 2016 Prather Paint has officially closed it's doors. We recommend <a href="http://www.uspaintsupply.com">US Paint Supply</a> for your paint supply needs.</p>
		</div>
	</div>
</header>

