<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	<h4 class="modal-title">Clawlock</h4>
</div>
<div class="modal-body">
	<p>Clawlock Primer/Undercoater is a high performance, high solids (55%), 2 component postcatalyzed (amino-alkyd) primer/undercoater for furniture, store fixtures and cabinets. Clawlock provides an excellent base coat for the start of a high performance pigmented finishing system. Based on European technology, it is formulated to meet world Care E-1 performance standards. Its' high solids, fast drying characteristics lend itself to good production properties and excellent sanding characteristics. Especially developed for filling the open pores on MDF Board, it is also suitable for a high performance/undercoater on all types of woods.</p>
	<h3>Unique Advantages</h3>
	<ul>
		<li>Ultra high solids (55%) for fast filling of MDF Board and open pores on wood. </li>
		<li>High performance cross-link primer, that provides an excellent base for almost all finish coats. </li>
		<li>Formulated with no aromatic or ketone solvents (HAPS) provides a better work environment and meets or exceeds current environmental regulations. </li>
	</ul>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>

