<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	<h4 class="modal-title">ML Campbell Duravar</h4>
</div>
<div class="modal-body">
	<p>Post-Catalyzed Lacquer. M.L. Campbell Duravar Plus is an ultra-high performance coating system designed to be used on kitchen and bath cabinets and institutional, household, office and laboratory furniture. The unique two component amino-alkyd, self-sealing formula adds value to your furniture and cabinets by producing a finish with outstanding depth, clarity and aesthetics, while providing superior durability and resistance to chemicals and moisture.   </p>
	<h3>Unique Advantages</h3>
	<ul>
		<li>The best of European and North American formulation technology to help you comply with environmental regulations. </li>
		<li>Formulated with No HAPs solvents. </li>
		<li>Ultra low formaldehyde formulation which meets world E-1 standards for a better work environment. </li>
		<li>High solids, 42% - just 2 coats will build an excellent finish. </li>
		<li>Self-seal, 1 - product finishing system, no sealer necessary. </li>
		<li>Sands better than most sealers. </li>
		<li>No recoat window - quick cure cycle. </li>
		<li>Fast dry - dries much faster than most conventional catalyzed varnish products. </li>
	</ul>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>

