<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	<h4 class="modal-title">ML Campbell Klearplast</h4>
</div>
<div class="modal-body">
	<p>M.L. Campbell Klearplast is a single component water white CAB acrylic clear finish specially designed for light colored interior wood surfaces where a non-yellowing, fast dry, durable finishing system is required.</p>
	<h3>Unique Advantages</h3>
	<ul>
		<li>VOC compliant - only 667 grams per liter. </li>
		<li>27% solids. </li>
		<li>Unique formulation of CAB and acrylic resins. </li>
		<li>Exceeds conventional lacquers in durability, hardness, abrasion resistance, chemical resistance and moisture resistance. </li>
		<li>Non-yellowing - water clear. </li>
		<li>Easy to apply - applies like conventional nitrocellulose. </li>
		<li>Fast dry. </li>
		<li>No recoat window. </li>
		<li>No pot life problems. </li>
		<li>No mixing or reduction required. </li>
		<li>Easily applied with conventional spray, airless spray, air assisted airless spray or HVLP equipment.</li>
	</ul>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>

