<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	<h4 class="modal-title">ML Campbell Krystal</h4>
</div>
<div class="modal-body">
	<p>Conversion Varnish. M.L. Campbell Krystal is a new generation of post-catalyzed conversion varnish finishing system that offers the ultimate in durability. Krystal's high solids, water white, non-yellowing formula was specifically designed for interior wood surfaces that are exposed to extreme moisture, heat or household chemicals.</p>
	<h3>Unique Advantages</h3>
	<ul>
		<li>Water white and non-yellowing </li>
		<li>Post-cat technology and performance </li>
		<li>Meets AWI TR-6 performance standards for chemical and moisture resistance </li>
		<li>42% solids -- just 2 coats will build an excellent finish </li>
		<li>HAPs compliant -- ultra low in formaldehyde </li>
		<li>Low VOC -- less than 560 grams per liter </li>
		<li>Self-sealing formula with outstanding sanding properties </li>
		<li>Excellent adhesion on both closed and open grain substrate </li>
		<li>Excellent mar and scratch resistance </li>
		<li>Exceptional durability and resistance to water and household chemicals </li>
		<li>Application-friendly -- can be applied with conventional, airless, air- assisted airless or HVLP spray equipment</li>
	</ul>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>

