<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	<h4 class="modal-title">ML Campbell Magnalac</h4>
</div>
<div class="modal-body">
	<p>MAGNALAC has been formulated using the finest of domestic and European technologies, to offer your customers a high performance coating system that produces outstanding aesthetics and excellent long term durability.</p>
	<h3>Unique Advantages</h3>
	<ul>
		<li>Formulated with No HAPs solvents to help you comply with environmental regulations. </li>
		<li>Ultra low formaldehyde which meets world E-1 standards for a better work environment. </li>
		<li>Self sealing - sealer is optional. </li>
		<li>Quick drying cycle - faster cross-linking eliminates lifting problems on recoat and touch-up, common with some pre-catalyzed lacquers. </li>
		<li>Can be force dried up to 120&deg;F to accelerate the drying cycle. </li>
		<li>User friendly - no mixing or pot life problems. </li>
		<li>Exceptional durability and resistance to water,and wear by usage. </li>
		<li>Easily applied with conventional spray, airless spray, air assisted airless spray or HVLP equipment.</li>
	</ul>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>

