<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	<h4 class="modal-title">ML Campbell Magnamax</h4>
</div>
<div class="modal-body">
	<p>M.L. Campbell MagnaMax&trade; is a technological breakthrough for pre-catalyzed lacquer clear finishing systems. This hi-solids water white formula was designed and developed to maximize the durability and overall performance available from pre-catalyzed technology.</p>
	<h3>Unique Advantages</h3>
	<ul>
		<li>Totally HAPs free </li>
		<li>Ultra low formaldehyde-meets European E1 Standard </li>
		<li>Low in VOC-only 625 grams per liter </li>
		<li>33% solids-only 2 coats required </li>
		<li>Water white formula </li>
		<li>Self-sealing formula with outstanding sanding properties </li>
		<li>Excellent chemical resistance-See Below </li>
		<li>Exceptional film build </li>
		<li>Excellent adhesion on both closed and open grain substrate </li>
		<li>Mar and scratch resistant</li>
	</ul>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>

