<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	<h4 class="modal-title">ML Campbell Resistant</h4>
</div>
<div class="modal-body">
	<p>Catalyzed Pigmented Varnish. M.L. Campbell Resistant is a high-performance coating system that truly adds value to your furniture and cabinets by producing a finish that combines outstanding looks with exceptional durability. Resistant is a world class, two component, amino-alkyd finishing system specially designed for use on furniture, kitchen and bathroom cabinets, and display fixtures.</p>
	<h3>Unique Advantages</h3>
	<ul>
		<li>The best of North American and European formulating technology. </li>
		<li>Formulated with No HAPs solvents to help you comply with environmental regulations. </li>
		<li>Ultra low formaldehyde formulation which meets world E-1 standards for a better work environment. </li>
		<li>No recoat windows - quick cure cycle. </li>
		<li>Fast dry - dries much faster than most conventional catalyzed varnish products. </li>
		<li>Exceptional durability and resistance to water,household chemicals and wear by usage. </li>
		<li>Available in three lusters - gloss, semi-gloss and satin in a white, opaque or clear base. </li>
		<li>Available in over 800 popular colors. </li>
		<li>Packaged pre-reduced - just add catalyst. </li>
		<li>Excellent scratch and mar resistance. </li>
	</ul>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>

