<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	<h4 class="modal-title">ML Campbell UltraStar</h4>
</div>
<div class="modal-body">
	<p>M.L. Campbell UltraStar Water Borne Clear Finishes represents the best of the dawning age of aqueous coatings. UltraStar Water Borne coating systems offer a Water Borne clear finishing system that has the performance, application, durability and quality normally found only in the best solvent-based precatalyzed lacquers. Plus, UltraStar offers the added benefit of meeting the most stringent environmental concerns.</p>
	<h3>Unique Advantages</h3>
	<ul>
		<li>Acrylic/Polyurethane copolymer formulation.</li>
		<li>Exceeds conventional Nitrocellulose clear lacquers in durability-hardness/abrasion resistant-flexibility-chemical resistance.</li>
		<li>VOC Compliant, meets or exceeds all current U.S. regulations, in addition, formulated to contain no substances on U.S. regulated Toxic Pollutant List.</li>
		<li>Available in Gloss, Satin, Dull and a Sanding Sealer.</li>
		<li>Non-flammable, non-toxic, helps you meet insurance, fire and safety requirements without sacrificing product performance.</li>
		<li> Ease of application - sprays like a conventional Nitrocellulose lacquer. Has high solids (27%) and fast lacquer dry.</li>
	</ul>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>

