<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	<h4 class="modal-title">ML Campbell Vinyl Sealer</h4>
</div>
<div class="modal-body">
	<p>Specially formulated for premium moisture resistance, this 25% solids, non-yellowing vinyl sealer is preferred for light stains when stain blocking and high adhesion are required.</p>
	<h3>Unique Advantages</h3>
	<ul>
		<li>Water clear </li>
		<li>Non-yellowing</li>
		<li>Outstanding adhesion to any wood surface </li>
		<li>Superior moisture resistance </li>
		<li>25% solids, clear sealer</li>
		<li>Stain blocking </li>
		<li>Excellent sanding characteristics </li>
	</ul>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>

