<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	<h4 class="modal-title">ML Campbell Woodsong</h4>
</div>
<div class="modal-body">
	<p><strong>Woodsong Stain<br>
	</strong>Fast drying spray and wipe wood stains that can be recoated with lacquers or other industrial wood finishes. This fast dry formula (30-60 minutes) applies by spraying and wiping the stain directly on the wood to be finished.</p>
	<p><strong>Woodsong Microton Toners<br>
	</strong>Woodsong Microton Toners were developed to act as the first step in staining light colored woods (oak, pine, birch etc.) to a darker color such as mahogany. When used as a first stain coat, this spray-only toner uniforms the tone of the wood's color, making an even base for the application of Woodsong Microton Toner.</p>
	<p><strong>Woodsong Traditional Glaze<br>
	</strong>WoodSong Traditional Glaze was developed to add depth to 3-dimensional surfaces, imitate aging, and create other decorative patterns on interior wood surfaces. This product exhibits excellent workability, as well as fast and easy recoating. Over 300 custom colors of WoodSong Traditional Glaze are available.</p>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>

