---
layout: base.html
title: M.L. Campbell | Prather Paint
description: This is the meta description
---
<h1 class="page-header">M.L. Campbell</h1>
<ol class="breadcrumb">
	<li><a href="{{ '/' | url }}">Home</a></li>
	<li>Wood Finishes</li>
	<li class="active">M.L. Campbell</li>
</ol>
<div class="col-md-6 col-sm-4">
	<h2>Lacquers &amp; Finishes</h2>
	<p>M.L. Campbell is a leader in the wood finishing industry for good reason. Their high quality and long lasting finishes are preferred by professionals and DIYer's because of their ease of use and beautiful results. We carry the full line of M.L. Campbell products, click 'learn more' to learn about each product.</p>
	<p class="text-center"><img src="{{ '/images/ml-campbell/magnamax.jpg' | image }}" alt="ML Campbell Magnamax" title="Magnamax" /></p>
</div>
<div class="col-md-6 col-sm-8">
	<div class="row ml-campbell-list">
		<div class="col-sm-6">
			<h3>Magnamax</h3>
			<p>Precatalyzed Water White Clear Lacquer</p>
			<a href="#" data-target="#magnamax" class="btn btn-default" data-toggle="modal">Learn more</a>
		</div>
		<div class="col-sm-6">
			<h3>Clawlock</h3>
			<p>High Solid Pigmented Sealer</p>
			<a href="#" data-target="#clawlock" class="btn btn-default" data-toggle="modal">Learn more</a>
		</div>
		<div class="col-sm-6">
			<h3>Duravar</h3>
			<p>Catalyzed European Quality Wood Varnish</p>
			<a href="#" data-target="#duravar" class="btn btn-default" data-toggle="modal">Learn more</a>
		</div>
		<div class="col-sm-6">
			<h3>Magnalac</h3>
			<p>Precatalyzed clear and pigmented lacquers</p>
			<a href="#" data-target="#magnalac" class="btn btn-default" data-toggle="modal">Learn more</a>
		</div>
		<div class="col-sm-6">
			<h3>High Build Lacquer</h3>
			<p>Hi Solid Nitrocellulose lacquer</p>
			<a href="#" data-target="#high-build-lacquer" class="btn btn-default" data-toggle="modal">Learn more</a>
		</div>
		<div class="col-sm-6">
			<h3>Vinyl Sealer</h3>
			<p>Moisture Resistant Sanding Sealer</p>
			<a href="#" data-target="#vinyl-sealer" class="btn btn-default" data-toggle="modal">Learn more</a>
		</div>
		<div class="col-sm-6">
			<h3>Krystal</h3>
			<p>Water Clear Catalyzed Varnish</p>
			<a href="#" data-target="#krystal" class="btn btn-default" data-toggle="modal">Learn more</a>
		</div>
		<div class="col-sm-6">
			<h3>Klearplast</h3>
			<p>Crystal Clear Mar Resistant Wood Finish</p>
			<a href="#" data-target="#klearplast" class="btn btn-default" data-toggle="modal">Learn more</a>
		</div>
		<div class="col-sm-6">
			<h3>Polystar</h3>
			<p>Water Borne Pigmented Finish</p>
			<a href="#" data-target="#polystar" class="btn btn-default" data-toggle="modal">Learn more</a>
		</div>
		<div class="col-sm-6">
			<h3>Resistant</h3>
			<p>Pigmented Catalyzed Conversion Varnish</p>
			<a href="#" data-target="#resistant" class="btn btn-default" data-toggle="modal">Learn more</a>
		</div>
		<div class="col-sm-6">
			<h3>UltraStar</h3>
			<p>Water Borne Clear Finish</p>
			<a href="#" data-target="#ultrastar" class="btn btn-default" data-toggle="modal">Learn more</a>
		</div>
		<div class="col-sm-6">
			<h3>Woodsong</h3>
			<p>Spray and Wipe Stains, Toners, Dye Stain</p>
			<a href="#" data-target="#woodsong" class="btn btn-default" data-toggle="modal">Learn more</a>
		</div>
	</div>
</div>
<div id="magnamax" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			{% include "ml-campbell/magnamax.html" %}
		</div>
	</div>
</div>
<div id="clawlock" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			{% include "ml-campbell/clawlock.html" %}
		</div>
	</div>
</div>
<div id="duravar" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			{% include "ml-campbell/duravar.html" %}
		</div>
	</div>
</div>
<div id="magnalac" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			{% include "ml-campbell/magnalac.html" %}
		</div>
	</div>
</div>
<div id="high-build-lacquer" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			{% include "ml-campbell/high-build-lacquer.html" %}
		</div>
	</div>
</div>
<div id="vinyl-sealer" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			{% include "ml-campbell/vinyl-sealer.html" %}
		</div>
	</div>
</div>
<div id="krystal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			{% include "ml-campbell/krystal.html" %}
		</div>
	</div>
</div>
<div id="klearplast" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			{% include "ml-campbell/klearplast.html" %}
		</div>
	</div>
</div>
<div id="polystar" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			{% include "ml-campbell/polystar.html" %}
		</div>
	</div>
</div>
<div id="resistant" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			{% include "ml-campbell/resistant.html" %}
		</div>
	</div>
</div>
<div id="ultrastar" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			{% include "ml-campbell/ultrastar.html" %}
		</div>
	</div>
</div>
<div id="woodsong" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			{% include "ml-campbell/woodsong.html" %}
		</div>
	</div>
</div>

